.rowC {
  display: flex;
  flex-direction: row;
  height: 100%;
}

html,
body {
  background-color: #f3f3f3;
  max-width: 80%;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-div {
  margin-left: 25%;
  background-color: #f3f3f3;

}

.sidebar-layout {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.sidebar sidebar-inner {
  background-color: #051094;
}

.sub-menu-content {
  background-color: #2F7AE5;
}

.sidebar a:hover {
  background-color: #439CEF;
}

.sidebar {
  color: #f3f3f3;
  width: 15%;
  background-color: #0836C1;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
}

.menu-item {
  background-color: #1D63DC;
}

.App-link {
  color: #61dafb;
}

h1,
h2,
h3 {
  line-height: 1.2
}

table,
th,
td {
  border: 1px solid black;
}

a {
  color: blue;
}

.blue-table {
  border-collapse: collapse;
  margin: 25px;
  font-size: 0.9em;
  min-width: 400px;
}

.blue-table thead tr {
  background-color: #2F7AE5;
  color: #f3f3f3;
  font-weight: bold;
}

.blue-table th,
.blue-table td {
  padding: 12px 15px;
}

.blue-table tbody tr {
  border-bottom: 1px solid #cccccc;
  text-align: left;
}

.blue-table tbody tr:nth-of-type(even) {
  background-color: #D7E5F0;
}

.blue-table tbody tr:last-of-type {
  border-bottom: 2px solid #2F7AE5;
}